body {
	background: #eee;
}

#wrapper {
	border: 1px solid black;
	margin: 0 auto;
	width: 1000px;
	background: white;
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
table, td {
    border:1px solid black;
}

